In [3]:
sentence=input("Enter sentence:")
words=sentence.split()
unique_words=set(words)
print(f"Unique words count:{len(unique_words)}")
print(f"Unique words:{unique_words}")

Enter sentence: python is easy and python is powerful

Unique words count:5
Unique words:{'easy', 'and', 'python', 'is', 'powerful'}

In [7]:
employees = {"Ravi": 75000, "Anita": 68000, "Kiran": 72000}
h_name=" "
highest_salary=0
for name in employees:
    if employees[name]>highest_salary:
        highest_salary=employees[name]
        h_name=name
print("Highest Salary:",h_name,"-",highest_salary)

Highest Salary: Ravi - 75000

In [9]:
numbers=[45,22,89,10,66]
max_val=numbers[0]
min_val=numbers[0]
for num in numbers:
    if num>max_val:
        max_val=num
    if num<min_val:
        min_val=num
print("List:",numbers)
print("Max:",max_val)
print("Min:",min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [11]:
prices=[450,1200,899,1500,300]
count=0
for p in prices:
    if p>1000:
        count +=1
print("Products above 1000:",count)

Products above 1000: 2

In [17]:
attendance = ["P", "P", "A", "P", "P"]
present_count=0
for day in attendance:
    if day == "P":
        present_count += 1
percentage=(present_count/len(attendance))*100
print("Attendence Percentage:",percentage)

Attendence Percentage: 80.0

In [18]:
phone_numbers=[9876543210, 9123456789, 9876543210]
print("Unique phone numbers:", set(phone_numbers))

Unique phone numbers: {9876543210, 9123456789}

In [19]:
text="python"
char_count={}
for ch in text:
    if ch in char_count:
        char_count[ch]+=1
    else:
        char_count[ch]=1
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [20]:
numbers=[10, 20, 30]
result=tuple(numbers)
print("Tuple:",result)

Tuple: (10, 20, 30)

In [21]:
employees = {"Ravi": 75000, "Anita": 68000, "Kiran": 72000}
key="Ravi"
if key in employees:
    print("Employee exists")
else:
    print("Employee not exist")

Employee exists

In [22]:
marks=[70, 75, 80, 65]
total=sum(marks)
avg=total/len(marks)
print("Average Marks:", avg)

Average Marks: 72.5